
  <div>  
  <section id="timeline">
    <div class="container-fluid wow fadeInRight" data-wow-duration="1s">
      <div id="timeline-slider" class="owl-carousel">
        <div class="item">
            <div class="photo"><img src="images/lector1.jpg" alt="Lector1" class="img-circle"></div>
            
            <div class="desc">
            <!--   <h2>Title of the lecture</h2> -->
              <h3>Full Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctorinterdum.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo"><img src="images/lector1.jpg" alt="Lector1" class="img-circle"></div>
           
            <div class="desc">
             <!--  <h2>Title of the lecture</h2> -->
              <h3>Full Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctorinterdum.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo"><img src="images/lector1.jpg" alt="Lector1" class="img-circle"></div>
         
            <div class="desc">
             <!--  <h2>Title of the lecture</h2> -->
              <h3>Full Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctorinterdum.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo"><img src="images/lector1.jpg" alt="Lector1" class="img-circle"></div>
          
            <div class="desc">
            <!--   <h2>Title of the lecture</h2> -->
              <h3>Full Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctorinterdum.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo"><img src="images/lector1.jpg" alt="Lector1" class="img-circle"></div>
          
            <div class="desc">
             <!--  <h2>Title of the lecture</h2> -->
              <h3>Full Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctorinterdum.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo"><img src="images/lector1.jpg" alt="Lector1" class="img-circle"></div>
           
            <div class="desc">
            <!--   <h2>Title of the lecture</h2> -->
              <h3>Full Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctorinterdum.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo"><img src="images/lector1.jpg" alt="Lector1" class="img-circle"></div>
          
            <div class="desc">
             <!--  <h2>Title of the lecture</h2> -->
              <h3>Full Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctorinterdum.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo"><img src="images/lector1.jpg" alt="Lector1" class="img-circle"></div>
           
            <div class="desc">
            <!--   <h2>Title of the lecture</h2> -->
              <h3>Full Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctorinterdum.</p>
            </div>
        </div>
      </div>
    </div>
    
  </section>

 
  </div>
