
<div>  
  <section id="timeline">
    <div class="container-fluid wow fadeInRight" data-wow-duration="1s">
      <div id="timeline-slider" class="owl-carousel">
        <% @crew_members.each do |c| %>
          <div class="item">
              <div class="photo"><img src="images/lector1.jpg" alt="Lector1" class="img-circle"></div>
              
              <div class="desc">
              <!--   <h2>Title of the lecture</h2> -->
                <h3><%= c.full_name %></h3>
                <p><%= @ship_name%></p>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    
  </section>
</div>
