
  <div> 
 
  <section id="description">
    <div class="container">
    

      <div class="row wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
        <div class="col-md-12">
          <h2 style="text-align:center">Hi [ Ruby code goes here ], this is your itinerary</h2>  
        </div>
      </div>
      
    <div class="row wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
        <div class="col-md-12">
        <form>
          <table class="table table-hover">
            <thead>
              <tr class="title">
                <th colspan="4" style="text-align: center;">Itinerary</th>
              </tr>
              <tr>
                <th>Date</th>
                <th>Ship</th>
                <th>Port</th>
                <th>Matches</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>8:00 - 10:00</td>
                <td>Full Name</td>
                <td>Title of the lecture</td>
                <td><input type="checkbox" name="checkbox" id="checkbox"></td>
              </tr>
              <tr>
                <td>10:00 - 11:30</td>
                <td>Full Name</td>
                <td>Title of the lecture</td>
                <td><input type="checkbox" name="checkbox" id="checkbox"></td>
              </tr>
              <tr>
                <td>11:30 - 13:00</td>
                <td>Full Name</td>
                <td>Title of the lecture</td>
                <td><input type="checkbox" name="checkbox" id="checkbox"></td>
              </tr>
              <tr>
                <td>13:00 - 14:30</td>
                <td>Full Name</td>
                <td>Title of the lecture</td>
                <td><input type="checkbox" name="checkbox" id="checkbox"></td>
              </tr>
              <tr>
                <td>14:30 - 16:00</td>
                <td>Full Name</td>
                <td>Title of the lecture</td>
                <td><input type="checkbox" name="checkbox" id="checkbox"></td>
              </tr>
              <tr>
                <td>16:00 - 17:30</td>
                <td>Full Name</td>
                <td>Title of the lecture</td>
                <td><input type="checkbox" name="checkbox" id="checkbox"></td>
              </tr>
              <tr>
                <td>17:30 - 19:00</td>
                <td>Full Name</td>
                <td>Title of the lecture</td>
                <td><input type="checkbox" name="checkbox" id="checkbox"></td>
              </tr>
              <tr>
                <td>19:00</td>
                <td>Full Name</td>
                <td>Title of the lecture</td>
                <td><input type="checkbox" name="checkbox" id="checkbox"></td>
              </tr>
            </tbody>
          </table>
          </form>
        </div>
     </div>
    
    </div>   
  </section>

 
  </div>
