  <div> 
 
  <section id="description">
    <div class="container">
      <div class="row wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
        <div class="col-md-12">
          <h2 style="text-align:center"> [ Ruby code goes here ]  Ships a dn friends </h2>  
        </div>
      </div>
      
    <div class="row wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr class="title">
                <th colspan="3"style="text-align: center;">ships and friends</th>
              </tr>
              <tr>
                <th>Ships on Port</th>
                <th>Friends on Board</th>
                 <th></th>
                <th>Crew Members</th>
              </tr>
            </thead>
            <tbody>
              <% @voyages.each do |v| %>
              <% @friend_list = @user.list_of_friends(v.crew_members) %>
              <% @ship_name = v.ship.name %>
                <tr>
                  <td><%= @ship_name %></td>
                  <td>faces</td>
                  <td><%= @friend_list.length %></td>
                  <td><%= @crew_size %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
     </div>
    
    </div>   
  </section>

 
  </div>
