

 
<div class="homepage">

  <section id="intro">
    <div class="container">
      <div class="sub_slogan">
        <span class="line1">Find you Friends</span>
        <span class="line2">Anywhere</span>
        <span class="line3">Blah blah</span>
      </div>
      <h1>Some Text Goes Here</h1>
      <a class="book_btn" href="voyages">MATCH</a>
    </div>
  </section>
   </div>

  <!-- FOOTER END --> 



      <form class="form-signin" method="post" action="login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
       

        
        <form class="form-signin" method="post" action="register">
        <h2 class="form-signin-heading">Please sign up</h2>
        
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required>

        <label for="fullname" class="sr-only">Full name</label>
        <input type="text" id="fullname" name="full_name" class="form-control" placeholder="your full name" required>

        <label for="nationality" class="sr-only">Nationality</label>
        <input type="text" id="nationality" name="nationality" class="form-control" placeholder="your nationality" required>

        <label for="DOB" class="sr-only">Date of birth</label>
        <input type="date" id="DOB" name="DOB" class="form-control" placeholder="your date of birth" required>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" name="password_confirmation" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>


<% if session[:id] == nil %>
  <a href="/signin_signup">button</a>
<% else %>
  <a href="/voyages">button</a>
<% end %>


<% if session[:id] == nil %>
<a href="/signin_signup">Sign in/ Sign up</a>
<% else %>
  <span> <%= current_user.full_name %> / <a href="/logout">Logout</a></span>
<% end %>

