<div class="homepage">
  <section id="intro">
    <div class="container">
      <div class="sub_slogan">
        <span class="line1">Working on a cruise ship?</span>
        <span class="line2">Meet with fellow crew members</span>
        <span class="line3">at ports along your itinerary </span>
      </div>
      <h1>Meet Crew Members Around the World</h1> 
      <a class="book_btn" href="/voyages">MATCH</a>
    </div>
  </section>
</div>

