<% if session[:id] == nil %>
  <a href="/signin_signup">button</a>
<% else %>
  <a href="/voyages">button</a>
<% end %>


<% if session[:id] == nil %>
<a href="/signin_signup">Sign in/ Sign up</a>
<% else %>
  <span> <%= @current.user.full_name %> / <a href="/logout">Logout</a></span>
<% end %>
