

 
<div class="homepage">

  <section id="intro">
    <div class="container">
      <div class="sub_slogan">
        <span class="line1">Find you Friends</span>
        <span class="line2">Anywhere</span>
        <span class="line3">Blah blah</span>
      </div>
      <h1>Some Text Goes Here</h1> 
      <a class="book_btn" href="/voyages">MATCH</a>
    </div>
  </section>
   </div>

  <!-- FOOTER END --> 

