<!DOCTYPE html>
<html lang="en">
<head>
  





  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
<header id="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a href="/" class="logo"><img src="/images/logo.png" alt="CRUISR LOGO" height="40" width="180" /></a> 
        </div>
        <div class="col-sm-6">
          <ul class="soc_nav">

            <li>
            <% if session[:id] == nil %>
          <a href="/signin_signup">Sign in/ Sign up</a>
          <% else %>
            <span> <%= current_user.full_name %> / <a href="/logout">Logout</a></span>
          <% end %></li>
          </ul>


        </div>
      </div>
    </div>

  </header>
 

  <%= yield %>

 <!-- FOOTER BEGIN -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <p class="copyright">&copy; Copyright 2016 Cruisr App</p>
        </div>
      </div>
    </div>
    <div class="sep_block_solid">
      <a class="up" href="#header"></a>
      </div> 
  </footer>

<script src="/javascript/jquery-1.8.2.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/owl.carousel.min.js"></script>
<script src="/javascript/jquery.validate.min.js"></script>
<script src="/javascript/wow.min.js"></script>
<script src="/javascript/smoothscroll.js"></script>
<script src="/javascript/jquery.smooth-scroll.min.js"></script>
<script src="/javascript/custom.js"></script>

  <!-- FOOTER END --> 

  
</body>
</html>

