<div> 
<section id="booking" class="bg_dark">
    
    <div class="container">
       <div class="row wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
        <div class="col-md-12">
        <!--   <h2 style="text-align:center">Your Friends</h2>   -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 wow fadeInLeft"  data-wow-duration="1s" data-wow-offset="100">
          <h2>Please Sign In</h2>
        </div>

        <div class="col-md-6 wow fadeInRight"  data-wow-duration="1s" data-wow-offset="100">

          <form method="post" action="login" role="form" class="contact_form">    
            
            <div class="form-group">
              <label for="inputEmail" class="">Email address</label>
              <input type="email" class="form-control" id="contact_email" placeholder="Your email" name="email">
        </div> 

            <div class="form-group">
              <label for="inputPassword" class="">Password</label> 
              <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>

            <% if @login_error %>
               
               <div class="alert alert-danger" role="alert">
                 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                 <span class="sr-only">Error:</span>
                   Wrong email or password. Please try again!
               </div>
             <% end %>

            <div class="form-group">
             <button type="submit" class="btn btn-default" id="contact_submit">Sign In</button>
            </div>
          </form>
        </div>
      </div>

<div class="row" style="padding-top:60px; padding-bottom:60px;">
<hr>
</div>
      <div class="row">
        <div class="col-md-6 wow fadeInLeft"  data-wow-duration="1s" data-wow-offset="100">
          <h2>Register</h2>
        </div>
        
        <div class="col-md-6 wow fadeInRight"  data-wow-duration="1s" data-wow-offset="100">
        
        <form method="post" action="register" role="form" class="contact_form">
       
         <div class="form-group">
           <label for="fullname" class="">Full name</label>
              <input type="text" class="form-control" id="contact_name" placeholder="Your full name" name="full_name">
            </div>

         <div class="form-group">
              <label for="inputEmail" class="">Email address</label>
              <input type="email" class="form-control" id="contact_email" placeholder="Your email" name="email">
        </div> 

              <% if @register_error %>
               <!-- <h2>Email already existing</h2>  -->
               <div class="alert alert-danger" role="alert">
                 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                 <span class="sr-only">Error:</span>
                   Email already existing!
               </div>
             <% end %>

          <div class="form-group">
            <label for="nationality" class="">Nationality</label>
              <input type="text" class="form-control" id="contact_nationality" placeholder="Your Nationality" name="nationality">
            </div>  

            <div class="form-group">
            <label for="date_of_birth" class="">Date of birth</label>
              <input type="date" class="form-control" id="contact_bod" placeholder="Your date of birth" name="date_of_birth">
            </div>

            <div class="form-group">
            <label for="inputPassword" class="">Password</label>
              <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
          </div>

         <div class="form-group">
            <label for="confirmPassword" class="">Confirm Password</label>
              <input type="password" name="password_confirmation" class="form-control" id="confirmPassword" placeholder="Confirm"required>
          </div>

         <div class="form-group">
              <button type="submit" class="btn btn-default" id="contact_submit">Register</button>
          </div>

          </form>    
        </div>
     </div>
    </div>
</section>
</div>